@import './../../../assets/styles/admin.scss';

.navbar{
    background-color: white;
}

#sidebarToggle{
    color:white;
    background-color: $toggleColor;
    border-color: white;
}
.collapse{
    color: white;
}
.shadow{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.29);
}