/*========================================================================================================
========================== Colores para el administrador==================================================
========================================================================================================*/

$admin-primary-color: #00276f !important;
$admin-secondary-color: #b8b2fd !important;
$toggleColor: #2200ff !important;
$admin-title: dimgray;
/*========================================================================================================
========================== Colores para el el apartado público (tienda)===================================
========================================================================================================*/

/*========================================================================================================
========================== Colores comunes================================================================
========================================================================================================*/